.integration-icon {
    margin-right: 12px;
    flex: none;
    align-self: center;
}

.toggle-nested-effects {
    color: var(--color-text-dark-5);
}

.toggle-nested-effects.active {
    color: var(--color-text-light-1);
}

.prioritize-targets {
    color: var(--color-text-dark-5);
}

.prioritize-targets.active {
    color: var(--color-text-light-1);
}

#nested-effects-dialog {
    margin-bottom: 1em;
}

#nested-effects-dialog label {
    flex: 0 0 120px;
}

#nested-effects-dialog select {
    margin-top: 10px;
    margin-bottom: 10px;
}

#nested-effect-descriptions {
    flex-direction: column;
}
