// .integration-icon {
//     margin-right: 12px;
//     flex: none;
//     align-self: center;
// }

.ce-inline-control {
    color: var(--color-text-dark-5);

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:hover {
        background-color: var(--color-cool-3);
    }

    &[aria-pressed="true"] {
        color: var(--button-text-color);
        background-color: var(--color-cool-3);
    }
}

// #nested-effects-dialog {
//     margin-bottom: 1em;
// }

// #nested-effects-dialog label {
//     flex: 0 0 120px;
// }

// #nested-effects-dialog select {
//     margin-top: 10px;
//     margin-bottom: 10px;
// }

// #nested-effect-descriptions {
//     flex-direction: column;
// }
