<div class='form-group'>
  <label>game.i18n.localize("EffectDescription")</label>
  <div class='form-fields'>
    <input
      type='text'
      name='flags.dfreds-convenient-effects.description'
      value='{{description}}'
    />
  </div>
</div>