<form onsubmit="event.preventDefault();">

    {{{parentEffect.description}}}

    <div class="form-group">
        <label>Chosen Effect</label>
        <div class="form-fields">
            <select name="effect-choice" autofocus>
                {{selectOptions
                    nestedEffects
                    selected=default
                    labelAttr="name"
                    valueAttr="name"
                }}
            </select>
        </div>
    </div>

    {{#each nestedEffects as |nestedEffect|}}
        <div class="nested-effect-description">
            <strong>{{nestedEffect.name}}</strong>
            {{{nestedEffect.description}}}
        </div>
    {{/each}}
</form>
