<form id="nested-effects-dialog" onsubmit="event.preventDefault();">

    {{{parentEffect.description}}}

    <div class="form-group">
        <label>Chosen Effect</label>
        <div class="form-fields">
            <select name="effect-choice" autofocus>
                {{selectOptions
                    nestedEffects
                    selected=default
                    labelAttr="name"
                    valueAttr="name"
                }}
            </select>
        </div>
    </div>

    <div id="nested-effect-descriptions">
        {{#each nestedEffects as |nestedEffect|}}
            <strong>{{nestedEffect.name}}.</strong>
            {{{nestedEffect.description}}}
        {{/each}}
    </div>
</form>
