#convenient-effects-dialog {
  margin-bottom: 1em;
}

#convenient-effects-dialog label {
  flex: 0 0 120px;
}

#convenient-effects-dialog select {
  margin-top: 10px;
  margin-bottom: 10px;
}

#nested-effect-descriptions {
  flex-direction: column;
}